# This file is - if you set up JEJ_MIS correctly - not needed.
# But, for fallback reasons (if you don't route your vhost to /public), it will stay here.
RewriteEngine on
# RewriteRule ^(.*) _PUBLIC/$1 [L]
# RewriteRule ^(.*) mis/$1 [L]
