html {
    /** DEFAULT **/
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000;
}

body {
    margin:0px;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.62);
}

.header {    
    border: 1px solid #CCC;
    width: 850px;
    margin: 0px auto;
    text-align: center;
    font-size: 15.5px;
}

.content {
    width: 835px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: auto;
    margin: 70px auto;
    padding: 15px;
    border-radius: 4px;
}

#header ul {
    height: 30px;
    line-height: 25px;
    list-style-type: none;
    margin: 0 auto;
    width: auto; /* 880px */
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
}

#header ul li {
    display: block;
    float: left;
    //padding-bottom: 5px;
}

#header ul li a:hover, #header ul li a:active {
    background-color: #DCDCDC;
    color: #000;
}

#header ul li a {
    display: block;
}

#title {
    width: 200px;
    background: #000;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 17px;
}

#header ul li a#title:hover, #header ul li a#title:active {
    background-color: #CC0000;
    color: #fff;
}

a:link, a:visited {
    width: 135px;
    color: #FFFFFF;
    padding: 4px;
    text-decoration: none;
    //text-transform: uppercase;
}

/** COLOR **/
html, body {
    background: #66FFFF;
}

.footer-nav a {
    color: #fff;
}

.logo, .left-container span, .footer-nav {
    color: #fff;
}

.left-container, .container {
    background-color: #fff;
}

.error_logo {
    color: #000;
}

.error_footer-nav {
    color: #000;
}