html {
    font-family: Arial;
    font-size: 14px;
}
body {
    padding: 0px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}
body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

#page_loader {
    position:fixed;
    top:0;
    width:100%;
    background-color:white;
    height:100%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    z-index: 10003
}

/** ----------- **/

// UI FIXES FOR MOBILE

    // HIDES ALL ELEMENTS WHEN ON MOBILE
    .mobile-ver {
        display: none;
    }
    
    .header hr {
        display: none;
    }
    
    .debug_balloon, .space, .navigation, #sub-navigation {
        display: none;
    }

    @media all and (max-width: 240px) {
        .header {
            text-align: center;
        }
        .logo {
            font-size: 80%;
        }
    }
    
    .hidden_elem {
        display: none;
    }
    
    .warning_sprite {
        display: none;
    }

/** ----------- **/
.left-container, .right-container, .container {
    font-size: 13px;
}
input[type=text], input[type=password], textarea {
    -webkit-appearance: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
}
.header {
    width: auto;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-bottom: 12px;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 6px;
    height: 60px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    //text-align: center;
}
.logo {
    font-size: 20px;
    font-weight: bolder;
}
.error_logo {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
    width: auto;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.custom_logo_text {
    font-size: 35px;
    font-weight: bold;
}
.dev_logo {
    font-size: 70px; letter-spacing: -3px; color: #fff; width: 700px; padding: 20px; padding-bottom: 0;
}
.go_back {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.3px;
}
.go_back_mini {
    
}
.option-mobi {
    text-align: center;
    float: right;
    width: 100%;
}
.navigation-mobi {
    border-top: 2px solid #CC0000 !important;
}
.navigation-mobi a, .option-mobi {
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    color: #000;
    border-radius: 2px;
}
.navigation-mobi a:hover {
    color: #CC0000;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    height: auto;
    width: auto;
    overflow: auto;
}
.container {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
}
#container_dialog {
    
}
.wrapper tr td[class="container"] {
    margin-left: 0px;
}
#wrapper_dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
#mobile-navigation {
    
}
.left-container {
    border-radius: 6px;
    width: 100%;
    float: left;
}
/**
.left-container span {
    padding: 10px;
    border-radius: 3px;
}
**/
.left-container ul {
    text-align: left;
}
.left-container ul li {
    //display: block;
}
.left-container form {
    width: 100%;
}
.left-container select {
    //width: 80%;
}
.left-container input {
    width: 73%;
}
.right-container {
    float: left;
    padding-top: 15px;
}
.error_container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-left: 33px;
    margin-right: 33px;
    text-align: left;
    height: auto;
    width: auto;
}
.container, #container_dialog {
    width: auto;
    border: 0;
}
.container, #container_dialog, .error_container {
    border-radius: 6px;
    text-align: left;
}
.container a, #container_dialog a, .error_container a {
    color: #222;
}
.container table, #container_dialog table .error_container table {
    font-size: 13px;
    margin-top: 20px;
}
.container table thead td, #container_dialog table thead td, .error_container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td, #container_dialog table tbody td, .error_container table tbody td {
    padding: 4px 10px;
}
.container .box, #container_dialog .box, .error_container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input, #container_dialog, .error_container input {
    //background-color: #f5f5f5;
    //border: 0;
    padding: 5px 10px;
}
.container input[type="submit"], #container_dialog input[type="submit"] {
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.container input[type="submit"]:hover, #container_dialog input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button, #container_dialog button {
    background-color: #ccc;
    border: 0;
    cursor: pointer;
}
.container button:hover, #container_dialog button:hover {
    background-color: #222;
    color: #fff;
}
.container .back, #container_dialog .back, .error_container .back {
    text-decoration: none;
}
p.paragraph {
    text-align: justify;
    font-size: 13.5px;
    width: 100%;
}
img.image {
    height: auto;
    max-width: 120px;
    width: 100%;
}
.exp_table {
    table-layout: fixed;
    width: 100%;
    display: block;
}
.hide_button:focus ~ .exp_table {
  display: none;
}
.show_button:focus ~ .exp_table {
  display: block;
}
.exp_table tr td, .exp_table tr th {
    vertical-align: 2px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.footer-nav, .error_footer-nav {
    margin: 20px 20px;
    text-align: right;
}
.footer-nav-mobi, .error_footer-nav-mobi {
    text-align: center;
}

/** COLOR AND STYLES **/
html, .left-container span {
    background-color: #333333;
    color: #000;
}

.navigation-mobi {
    
}

.footer-nav, .footer-nav a {
    color: #fff;
}

.footer-nav-mobi, .footer-nav-mobi a {
    color: #000;
}

.go_back {
    color: #fff;
    text-decoration: none;
}

.go_back_mini {
    color: #000;
    text-decoration: none;
}

.left-container span {
    color: #003333;
    text-decoration: none;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    border: 1px solid #ddd;
}

.container, #container_dialog {
    background-color: #fff;
}

.mobilizer_logo {
    color: #FF0000
}

.error_logo {
    color: #000;
}

.error_footer-nav-mobi {
    color: #000;
}

.error_text {
    color: #ff0000;
    font-weight: bold;
}

.error_container {
    border: 0;
}
