html {
    font-family: Arial;
    font-size: 14px;
}
body {
    padding: 0px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
}
/**
body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
**/
.left-container, .right-container, .container {
    font-size: 13px;
}
.debug_balloon {
    position: fixed;
    z-index: 1000;
    border-radius: 6px;
    padding: 1px 10px 15px 10px;
    margin: 0;
    width: 200px;
    right: 1.8%;
    top: 60%;
}
.debug_balloon:hover {
    
}
input[type=text], input[type=password], textarea {
    -webkit-appearance: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
}
.header {
    width: auto;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-bottom: 12px;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    height: 110px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.logo {
    font-size: 45px;
    font-weight: bolder;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}
.logo:hover {
    color: #CC0000;
}
.error_logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
    width: 500px;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.custom_logo_text {
    
}
.go_back {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.3px;
}
.navigation {
    
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    background: #fff;
    color: #000;
}
.navigation a:hover {
    color: #fff;
    background: #CC0000;
    border-color: #CC0000;
}
.wrapper {
    margin: 0 auto;
    margin-left: 33px;
    margin-right: 30px;
    position: relative;
}
.wrapper tr td[class="container"] {
    margin-left: 0px;
}
.wrapper_dialog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    margin-top: 5%;
}
.left-container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    width: 200px;
}
/**
.left-container span {
    padding: 10px;
    border-radius: 3px;
}
**/
.left-container ul {
    text-align: left;
}
.left-container ul li {
    //display: block;
}
.left-container form {
    width: 100%;
}
.left-container select {
    width: 80%;
}
.left-container input {
    width: 73%;
}
.right-container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-right: 33px;
}
.container, .error_container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-left: 33px;
    margin-right: 33px;
    text-align: left;
    height: auto;
    width: auto;
}
.container a, .error_container a {
    color: #222;
}
.container table, .error_container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td, .error_container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td, .error_container table tbody td {
    padding: 4px 10px;
}
.container .box, .error_container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input, .error_container input {
    //background-color: #f5f5f5;
    //border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.container .back, .error_container .back {
    text-decoration: none;
}

/** Pure CSS3 Expandable Table 
    http://www.ehow.com/how_12214447_make-collapsing-lists-java.html
**/
.exp_table {
    table-layout: fixed;
    width: auto;
    display: block;
}
.hide_button:focus ~ .exp_table {
  display: none;
}
.show_button:focus ~ .exp_table {
  display: block;
}
.exp_table tr td, .exp_table tr th {
    vertical-align: 2px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.footer-nav, .error_footer-nav {
    margin: 20px 30px;
    text-align: right;
}

/** COLOR AND STYLES **/
html, .left-container span {
    background-color: #333333;
    color: #000;
}

.navigation {
    
}

.footer-nav, .footer-nav a {
    color: #fff;
}

.go_back, .left-container span {
    color: #003333;
    text-decoration: none;
}

.debug_balloon, .left-container, .right-container, .container {
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
    border: 1px solid #ddd;
}

.error_logo {
    color: #000;
}

.error_footer-nav {
    color: #000;
}

.error_text {
    color: #ff0000;
    font-weight: bold;
}

.error_container {
    border: 0;
}