body {
    font-family: Arial;
    font-size: 14px;
}
.debug_balloon {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1px 10px 15px 10px;
    margin: 0;
    width: 200px;
    float: right;
    margin-right: 28px;
}
#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}
#dialog {
    position: relative;
    width: 600px;
    margin-left: -300px;
    border-radius: 5px;
    padding: 4px;
    height: 400px;
    margin-top: -200px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}
input[type=text], input[type=password], textarea {
    -webkit-appearance: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
}
.logo {
    transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
   text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
}
.logo:hover {
    color: #CC0000;
}
.logo, .error_logo {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -6px;
    color: #222;
    margin: 20px 30px;
    width: 500px;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.custom_logo_text {
    width: 700px;
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    background: #fff;
    color: #000;
}
.navigation a:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}
#login-form-mini {
    float: right;
    margin-right: 30px;
    color: #fff;
}
.wrapper {
    width: 100%;
    display: table;    
}
.left-container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-right: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 33px;
    font-size: 12px;
    height: 100%;
    position: relative;
}
/**
.left-container span {
    padding: 10px;
    border-radius: 3px;
}
**/
.left-container ul {
    text-align: left;
}
.left-container ul li {
    display: block;
}
.left-container form {
    width: 100%;
}
.left-container select {
    width: 80%;
}
.left-container input {
    width: 73%;
}
.container {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-left: 33px;
    margin-right: 28px;
    text-align: left;
    height: auto;
    position: relative;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    //background-color: #f5f5f5;
    //border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.container .back {
    text-decoration: none;
}

/** Pure CSS3 Expandable Table 
    http://www.ehow.com/how_12214447_make-collapsing-lists-java.html
**/
.exp_table {
    table-layout: fixed;
    width: auto;
    display: block;
}
.hide_button:focus ~ .exp_table {
  display: none;
}
.show_button:focus ~ .exp_table {
  display: block;
}
.exp_table tr td, .exp_table tr th {
    vertical-align: 2px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.footer-nav, .error_footer-nav {
    margin: 20px 30px;
    text-align: right;
}

// ---------------------------------------------------------------------
/** COLOR **/
html, .left-container span {
    background-color: #333333;
    color: #000;
}

.footer-nav a {
    color: #fff;
}

.logo, .left-container span, .footer-nav {
    color: #fff;
}

.debug_balloon, .left-container, .container, #dialog {
    background-color: #fff;
}

.error_logo {
    color: #000;
}

.error_footer-nav {
    color: #000;
}